<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBL8jpOwOY8BXIAicEzBzF7YAw0tfW3-_Y</string>
	<key>GCM_SENDER_ID</key>
	<string>895251269581</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Main.Shly</string>
	<key>PROJECT_ID</key>
	<string>shly-bb474</string>
	<key>STORAGE_BUCKET</key>
	<string>shly-bb474.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:895251269581:ios:79e3fd5920360fa1c3a684</string>
</dict>
</plist>